html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background: black;
	color: white;
	perspective: 200px;
}

._flex-centric {
	display: flex;
	align-items: center;
	justify-content: center;
}

._fit-parent-width {
	width: 100%;
}

._fit-parent-height {
	height: 100%;
}

#driver {
	background: url("../res/space.jpg");
	width: 300px;
	height: 300px;
	border-radius: 50%;
	animation: color 40s infinite, rotate 1s infinite ease-in-out;
	z-index: 1;
}

#driver input {
	font-family: sans-serif;
	text-transform: uppercase;	
	font-size: 36px;
	border: 0;
    background: transparent;
    text-align: center;
    color: white;
    outline: none;

}

#background {
	position: absolute;
	/*filter: blur(35px) brightness(45%);*/
	/*-webkit-filter: blur(35px) brightness(45%);*/
}

/*#background > div {
	width: 100%;
	height: 100%;
	background: url("../res/space.jpg");
	animation: color 180s infinite;
}*/

@keyframes color {
	0% {
		background-position: 0 0%;
	}

	25% {
		background-position: 100% 100%;
	}

	50% {
		background-position: 100 0%;
	}

	75% {
		background-position: 0 100%;
	}

	100% {
		background-position: 0 0%;
	}

}

/*@keyframes rotate {
	0% {
		transform: rotate3d(0,0,0,0deg);
	}

	50% {
		transform: rotate3d(-1,0,0,10deg) scaleX(1.1) scaleY(1.1);
	}
}*/