@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../res/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../res/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../res/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../res/fonts/MaterialIcons-Regular.ttf) format('truetype');
}   

.material-icons {
  font-family: 'Material Icons';
  color: #fff;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background: white;
	color: black;
	background: #523956;
	font-size: 0;
}

.ol-overlaycontainer, .ol-overlaycontainer-stopevent {
    display: none;
}

._font16 {
	font-size: 16px;
}

._font24 {
	font-size: 24px;
}

._font36 {
	font-size: 36px;
}

#main {
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #32343e;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    padding-bottom: 16px;
    box-sizing: border-box;
}

#main.hidden {
	opacity: 0;
}

#location {
	width: 100%;
	background: #454754;
}


#path {
	width: 100%;
}

#main .input-wrapper {
    /*border-radius: 4px;*/
    overflow: hidden;
    width: 100%;
    height: 52px;
    /*margin-bottom: 8px;*/
}


#main input[type=text] {
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 16px 8px;
    background: #454754;
    color: white;
    border-bottom: 1px solid #777777;
}

#map {
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    /*border-radius: 4px;*/
    overflow: hidden;
    /*background: #ef9c23;*/
    height: 300px;
    background: #151414;
}

#info {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100px;
    padding: 8px 32px;
    box-sizing: border-box;
}

#info .caption {
    font-family: roboto;
    color: #a9a9a9;
    margin: 0;
    text-align: right;
    font-weight: bold;
    margin-right: 1em;
    /*width: 100%;*/
}

#info .price {
    font-family: roboto;
    color: #fff;
    margin: 0;
    text-align: right;
    font-weight: bold;
    /*width: 100%;*/
}

.button {
	height: 44px;
    background: #ff9800;
    border-radius: 4px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.36)
    margin: 8px 0;
    border-radius: 40px;
    width: 60%;
}

.button div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    box-shadow: 0em 0px 5px rgba(0, 0, 0, 0.31);
}

.button p {
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	font-family: roboto;
}

#header {
    height: 52px;
    width: 100%;
    background: #32343e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
}

#header p {
    color: #ff9800;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-left: 16px;
}

#header .material-icons {
    color: #ff9800;
}